<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cll.crawler.mapper.GradeMapper">



<insert id="save" parameterType="com.cll.crawler.entity.Grade">
    INSERT INTO grade(sno, clazz, cname, cno, credit,
    <if test="detail != null and detail != ''">
        detail,
    </if> kpi, score, semester)
    VALUES(#{sno},#{clazz},#{cname},#{cno},#{credit},
    <if test="detail != null and detail != ''">
        #{detail},
    </if> #{kpi},#{score},#{semester})
</insert>



</mapper>